// get rid of default padding and margins etc
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.scrollable {
	overflow-y: scroll;
}

p {
	color: #4E5662;
}

.background-image {
	transform: translateX(20%);
}

// Rounded corners for react bootstrap accordion
.accordion-item, .accordion-button  {
	border-radius: 0.5625rem !important;
  }