// get rid of default padding and margins etc
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	margin: 0;
	font-family: "Poppins", Arial, sans-serif;
}

.scrollable {
	overflow-y: scroll;
}

.pointer {
	cursor: pointer;
}


// Styles for scrollbars
::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

// ::-webkit-scrollbar-thumb {
// 	background: #dbdbdb;
// }

p {
	color: #4E5662;
}

// Rounded corners for react bootstrap accordion
.accordion-item,
.accordion-button {
	border-radius: 0.5625rem 0.5625rem 0 0 !important;
}

.accordion-header button {
	background-color: white !important;
}

.accordion-body,
.accordion-collapse {
	background-color: #F2F5F9 !important;
	border-radius: 0 0 0.5625rem 0.5625rem !important;
}

.background-image {
	transform: translateX(-35%);
}

.chapter-form {
	// Max height
	max-height: 70vh;
	overflow-y: scroll;
}

.triangle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%) rotate(180deg);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	/* Adjust the size as needed */
	border-right: 8px solid transparent;
	/* Adjust the size as needed */
	border-bottom: 12px solid #4E5662;
	/* or any color you prefer */
}

// Pseudo before circles
.circle-blue::before {
	content: "";
	position: absolute;
	top: -10%;
	left: -29px;
	transform: translateY(50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #6299EB;
}

.circle-grey::before {
	content: "";
	position: absolute;
	top: -10%;
	left: -29px;
	transform: translateY(50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #B3BAC5;
}

.circle-red::before {
	content: "";
	position: absolute;
	top: -10%;
	left: -29px;
	transform: translateY(50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #e07b7b;
}

// Fixing accordion styling
.accordion-button:focus,
.accordion,
.item,
.accordion-header {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
	background-color: transparent !important;
}

// Better typography
.accordion-body,
p {
	line-height: 1.5rem !important;
	letter-spacing: 0.01rem !important;
}

// Francois doesn't know how to do this
.chart-container {
	height: 215px;
}

.results {
	height: 75vh;
	overflow-y: scroll;
}